﻿<h2>Listagem de Pedidos</h2>

<button class="btn btn-block btn-primary" type="button" onclick="Cadastrar()">Registrar Pedido</button>
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Cliente</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var item in (List<PedidoModel>)ViewBag.ListaVendas)
            {
                <tr>
                    <td>@item.IdPedido</td>
                    <td>@item.IdCliente</td>
                    <td>R$ @item.TotalPedido</td>
                </tr>
            }
        }
    </tbody>
</table>
<br />
<script>
    function Cadastrar()
    {
        window.location.href = "../Pedido/Registrar";

    }
</script>

