﻿@model PedidoModel

<h2>Registrar um Pedido</h2>
<br />

<form asp-controller="Pedido" asp-action="Registrar">
    <input type="hidden" asp-for="IdPedido" value="@try { @ViewBag.Pedido.idPedido } catch { }" />

    <div class="form-group">
        <label>Cliente</label>
        <select asp-for="IdCliente" class="form-control" id="selCliente">

            <option value=""></option>
            @{
            foreach (var item in (List<ClienteModel>)ViewBag.ListaClientes)
            {
                <option value="@item.idCliente">@item.nomeCliente</option>
        }
            }
        </select>
        <span asp-validation-for="IdCliente" class="text-danger"></span>
    </div>

    <label>Produtos</label>
    <br /><br />
    <div class="form-group control-group">
        <div class="col-lg-4">

            <select class="form-control" id="selProduto" onchange="DefaultRentabilidade()" >
                <option value=""></option>
                @{
                    foreach (var item in (List<ProdutoModel>)ViewBag.ListaProdutos)
                    {
                        <option value="@item.IdProduto | @item.PrecoUnitarioProduto | @item.MultiploProduto">@item.DescProduto </option>
                    }
                }
            </select>

        </div>
        <div class="col-lg-2">
            <input type="text" class="form-control " id="txtValorProduto" data-mask="###0,00" data-mask-reverse="true" data-mask-maxlength="false" placeholder="Valor Unitário" />
        </div>
        <div class="col-lg-2">
            <input type="text" class="form-control" id="txtQuantidade" placeholder="Qtde" />
        </div>

        <div class="col-lg-2">
            <span id="spnRentab" class="label label-default">Rentabilidade</span>
        </div>

        <div class="col-lg-2">
            <button type="button" class="btn btn-block btn-primary" onclick="AdicionarProduto()" readonly>Adicionar</button>
        </div>
    </div>

    <br /><br />

    <table class="table table-bordered" id="tabelaProdutos">
        <thead>
            <tr>
                <td style="display:none;">Id</td>
                <td>Nome</td>
                <td>Quantidade</td>
                <td>Preço Unitário</td>
                <td>Total</td>
                <td>#</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="row">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-3">
            <div style="float:left">Total do Pedido R$ </div>
            <div style="float:left" id="totalPedido">0,00</div>
        </div>
    </div>

    <textarea style="display:none" asp-for="JsonItens" id="JsonItens"></textarea>
    <input type="hidden" asp-for="TotalPedido" id="txtTotal" />

    <button type="submit" class="btn btn-primary btn-success" onclick="RegistrarPedido();">Registrar</button>
    <button type="button" class="btn btn-primary btn-warning" onclick="Voltar();">Voltar</button>

</form>


<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/qunit/qunit-1.11.0.js"></script>
<script src="~/lib/jquery.mask.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="~/js/Pedido.js"></script>
