﻿<h3>Lista de Produtos</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Preço Unitário</th>
            <th>Múltiplo</th>
        </tr>
    </thead>

    <tbody>
        @{
            foreach (var produto in (List<ProdutoModel>)ViewBag.ListaProdutos)
            {
                <tr>
                    <td>@produto.IdProduto</td>
                    <td>@produto.DescProduto</td>
                    <td>R$ @produto.PrecoUnitarioProduto</td>
                    <td>@produto.MultiploProduto</td>
                </tr>
            }
        }
    </tbody>
</table>
<br />