﻿<h3>Lista de Clientes</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
    </thead>

    <tbody>
        @{ 
            foreach (var cliente in (List<ClienteModel>) ViewBag.ListaClientes)
            {
            <tr>
                <td>@cliente.idCliente</td>
                <td>@cliente.nomeCliente</td>
            </tr>
            }
        }
    </tbody>
</table>
<br />