﻿@model LoginModel

@{
    Layout = null; //Cancela o uso do layout template
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/login.css">

<div class="login-form">
    <form asp-controller="Home" asp-action="Login" method="post">
        <h2 class="text-center">Sistema Pedidos</h2>

        @{
            try
            {
                var error = TempData["ErrorLogin"].ToString();
                <h5 class="text-danger">@error</h5>

            }
            catch
            {
            }
        }

        <div class="form-group">
            <input type="text" class="form-control" asp-for="Usuario" placeholder="Username">
            <span asp-validation-for="Usuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" asp-for="Senha" placeholder="Password">
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
        <!--<div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="#" class="pull-right">Forgot Password?</a>
        </div>-->
    </form>
    <!--<p class="text-center"><a href="#">Create an Account</a></p>-->
</div>
