﻿<br /><br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-4">
        <div class="row">
            <a href="../Cliente/Index"><img src="~/images/clientes.png" width="150" height="150" /></a>
        </div>
        <span>Consulta de Clientes</span>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <a href="../Produto/Index"><img src="~/images/produtos.png" width="150" height="150" /></a>
</div>
        <span>Consulta de Produtos</span>
    </div>
    <div class="col-lg-4">
        <div class="row">
            <a href="../Pedido/Index"><img src="~/images/vendas.png" width="150" height="150" /></a>
</div>
        <span>Pedidos</span>
    </div>
</div>
<br /><br /> 
